@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-grey: #7a7979;
  --clr-blue: #3d5d9e;
  --clr-blue-2: #335598ea;
  --clr-blue-3: #264787;
  --clr-orange: #d05f3d;
  --clr-pink: #d6517d;
  --clr-pink-2: #b4345f;
  --clr-black: #000000;
}

body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-family: "Open Sans";
  border-bottom: 2px solid #8080804d; /* 添加分隔线 */
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav__logo {
  width: 70px;
  height: 60px;
  margin-right: 10px;
  background-size: 70px 60px;
  background-image: url("./assets/RentChainLogo.png");
}
/* .nav__brand img {
  max-width: 125px;
  height: auto;
} */

.nav__brand h1 {
  color: var(--clr-blue-3);
  font-size: 38px;
  font-weight: 800;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 500;
}
.nav_address {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 40px;
  list-style: none;
}
.nav__links li {
  margin: 0 15px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-black);
}

.nav__links li a:hover {
  color: var(--clr-blue-3);
}

.nav__connect {
  width: 150px;
  height: 40px;
  margin: 0 30px;
  font-family: "Open Sans";
  background-color: var(--clr-blue-3);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- HEADER -- */

header {
  background-image: url("./assets/houses.png");
  background-position: center;
  background-size: cover;
  min-height: 30vh;
  position: relative;
}

.header__title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--clr-white);
  font-size: 2em;

  width: 100%;
  text-align: center;
}

.header__search {
  padding: 25px;
  min-width: 40%;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__search::placeholder {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.header__search:hover {
  outline: 1px solid var(--clr-blue);
}

/* ------------------------------------------------------ */
/* -- Home cards -- */

.home_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.home_container_title {
  margin: 30px 0 5px;
  display: flex; /* 使用 flexbox */
  flex-direction: row; /* 水平排列子元素 */
  align-items: center; /* 垂直居中 */
}
.home_container_title h2 {
  width: 100%;
}
.home_addProperty_Button {
  width: 20%;
}
.home_addProperty_Button button {
  right: 0;
  width: 100px;
  height: 30px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-blue-2);
  color: #fff;
  border: none;
  border-radius: 5px; /* 更圆润的边角 */
  font-size: 16px; /* 增大字体 */
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 按钮阴影效果 */
}

.home_addProperty_Button button:hover {
  background-color: var(--clr-blue); /* 按钮悬停效果 */
}
.cards {
  display: grid;
  gap: 30px 0px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  margin-top: 40px;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid var(--clr-black);
  margin: 10px auto;
  cursor: pointer;
  position: relative;

  transition: all 250ms ease;
}

.card:hover {
  box-shadow: 1px 1px 5px var(--clr-grey);
}

.card__image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__image img {
  max-width: 100%;
}

.card__info {
  width: 100%;
  height: 40%;

  background-color: var(--clr-white);

  padding: 5px 10px;

  position: absolute;
  bottom: 20px;
  left: 0;
}

.card__info h4 {
  font-family: "Open Sans";
  font-size: 1.25em;
  font-weight: 600;
}

.card__info p {
  font-family: "Open Sans";
  font-size: 0.9em;
  margin-top: 5px;
}

/* ------------------------------------------------------ */
/* -- HOMES -- */

.home_details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  align-items: center;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 40px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--clr-white);
  display: flex; /* 使用 flexbox */
  flex-direction: row; /* 垂直排列子元素 */
  align-items: center; /* 垂直居中 */
}

.home_details_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.home_details_close img {
  width: 25px;
  height: 25px;
}
.home_details_image {
  max-width: 550px;
  padding: 10px 30px 10px 10px;
}

.home_details_image img {
  width: 380px;
}
.home_details_overview {
  height: 100%;
  margin: 0 5px;
  padding-right: 20px;
  overflow-y: scroll;
}

/* 定义滚动条样式 */
.home_details_overview::-webkit-scrollbar {
  width: 5px; /* 设置滚动条的宽度 */
}

/* 定义滚动条滑块的样式 */
.home_details_overview::-webkit-scrollbar-thumb {
  background-color: #bbb; /* 滑块的背景颜色（浅灰色） */
  border-radius: 4px; /* 设置滑块的圆角，使其更加圆润 */
  margin-top: 10px;
}

/* 当鼠标悬停在滚动条滑块上时的样式 */
.home_details_overview::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* 悬停时滑块的背景颜色（较深的灰色） */
}

.home_details_overview h2,
.home_details_overview h3 {
  margin: 10px auto;
}

.home_details_overview ul {
  margin-left: 40px;
}
/* 默认链接样式 */
.home_details_overview a {
  text-decoration: none; /* 移除下划线 */
  color: #2a5c91e3; /* 设置链接的默认颜色 */
  font-weight: bold; /* 加粗字体 */
  transition: color 0.3s ease; /* 添加颜色变化的过渡效果 */
}

/* 鼠标悬停时的样式 */
.home_details_overview a:hover {
  color: #12365d; /* 鼠标悬停时改变颜色 */
  text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

/* 已访问链接样式 */
.home_details_overview a:visited {
  color: #6c757d; /* 已访问链接显示为灰色 */
}

.home_details_rent {
  width: 120px;
  height: 40px;
  margin: 10px 40px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  color: var(--clr-blue);
  border-radius: 8px;
  border: 2px solid var(--clr-blue);
}
.home_details_rent:hover {
  background-color: #f7f7f7;
  color: var(--clr-blue-2);
}
.home_details_rented {
  width: 250px;
  height: 40px;
  margin: 20px 5px;
  padding: 5px;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  border: none;
  border-radius: 4px;
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms ease;
}
.home_details_rented_tenant {
  color: #6b6b6b;
  font-size: 15px;
}

.loading-overlay {
  position: fixed; /* 将覆盖层固定在屏幕上 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
  display: flex; /* 使用 flexbox */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}
.loading-spinner {
  width: 70%;
  background-color: #fff; /* 背景色可以根据需要调整 */
  padding: 20px;
  border-radius: 10px; /* 可选，圆角 */
  font-size: 20px; /* 字体大小 */
  font-family: "Open Sans";
  color: #333; /* 字体颜色 */
  display: flex; /* 使用 flexbox */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-direction: column; /* 垂直排列子元素 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  animation: fadeIn 0.3s ease-out; /* 弹窗淡入动画 */
}
.loading-successmessage {
  background-color: #fff; /* 背景色可以根据需要调整 */
  width: auto; /* 容器宽度 */
  height: auto; /* 容器高度自动适应内容 */
  border-radius: 10px; /* 圆角 */
  font-size: 17px; /* 字体大小 */
  font-family: "Open Sans", sans-serif; /* 字体 */
  color: #333; /* 字体颜色 */
  display: flex; /* 使用 flexbox */
  flex-direction: column; /* 垂直排列子元素 */
  justify-content: flex-start; /* 内容从顶部开始排列 */
  align-items: flex-start; /* 左对齐 */
  padding: 20px; /* 内边距 */
}
.loading-successmessage p {
  margin: 5px 0px;
}
/* 成功消息按钮样式 */
.successmessage-button {
  width: 120px;
  height: 40px;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; /* 字体 */
  font-weight: 600;
  color: #fff;
  background-color: var(--clr-blue);

  border: none;
  border-radius: 5px; /* 更圆润的边角 */

  cursor: pointer;
  transition: all 250ms ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 按钮阴影效果 */
}

.successmessage-button:hover {
  background-color: var(--clr-blue-2); /* 按钮悬停效果 */
}

.successmessage-button:active {
  transform: scale(0.98); /* 按钮点击时缩放效果 */
}

/* 弹窗淡入动画 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__links {
    display: none;
  }
}
